@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = Model.restaurantName + " was successfully submitted";
}

@model MoreyAssignment4.Models.EntryResponse

<div>
    <h2>The restaurant will now be listed in our suggestions</h2>

</div>

<div>
    Click <a asp-action="RestaurantSuggestions">here </a> to see what other restaurants people love!
</div>
